{{- define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}
{{- $scratch := newScratch }}
{{- if isset $p "image" }}
  {{- $scratch.Set "image" $p.image }}
{{- else }}
  {{ $scratch.Set "image" $s.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := absLangURL (path.Join "images" $image) }}
<div class="{{ if ne $p.singleColumn true }}grid-inverse {{ end }}wrap content">
  <article class="post_content">
    {{- $t := .Title }}
    <h1 class="post_title">{{ $t | markdownify }}</h1>
    {{- partial "post-meta" . }}
    {{ partial "share" . }}
    {{- with .Params.featureImage -}}
      <div class="post_featured">
        <img src='{{ . }}' class="image_featured" alt="{{ $p.featureImageAlt | default .Title }}">
        {{- with $p.featureImageCap }}
          <figcaption>{{ . }}</figcaption>
        {{- end }}
      </div>
    {{- end -}}
    <section class='toc' aria-label="Table Of Contents">
      {{ if $p.toc }}
      <div class="post_toc">
        <h2>Overview</h2>
        {{ .TableOfContents }}
      </div>
      {{ end }}
    </section>
    <div class="post_body">
      {{- .Content }}
    </div>

    {{- $showRelatedInArticle := $s.showRelatedInArticle }}
    {{- if eq $p.showRelatedInArticle true }}
      {{- $showRelatedInArticle = true }}
    {{- else if eq $p.showRelatedInArticle false }}
      {{- $showRelatedInArticle = false }}
    {{- end }}
    {{- if (and ($showRelatedInArticle) (isset $p "series")) }}
      {{- partial "related" . }}
    {{- end }}

    <section class="giscus">
      <script src="https://giscus.app/client.js" data-repo="mikegoatly/goatlydotnet"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODY1MjU3MTk=" data-category="General" data-category-id="DIC_kwDOERQJF84CSdIQ"
        data-mapping="pathname" data-strict="1" data-reactions-enabled="1" data-emit-metadata="0"
        data-input-position="top" data-theme="light" data-lang="en" data-loading="lazy" crossorigin="anonymous">
        </script>
    </section>
  </article>
  {{- if ( ne $p.sidebar false ) }}
    {{- partial "sidebar" . }}
  {{ end }}
</div>
{{- end }}