{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
{{- $scratch.Set "image" .Params.image }}
{{- else }}
{{ $scratch.Set "image" .Site.Params.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<div class='grid-inverse wrap content'>
  <article class='post_content'>
    <h1 class='post_title'>{{ .Title }}</h1>
    {{- partial "post-meta" . }}
    {{ partial "share" . }}
    {{ with .Params.featureImage }}
    <img src='{{ . }}' class="image_featured">
    {{ end }}
    <section class='toc' aria-label="Table Of Contents">
      {{ if .Params.toc }}
      {{ .TableOfContents }}
      {{ end }}
    </section>
    {{- .Content }}

    <section class="giscus">
      <script src="https://giscus.app/client.js" data-repo="mikegoatly/goatlydotnet"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODY1MjU3MTk=" data-category="General" data-category-id="DIC_kwDOERQJF84CSdIQ"
        data-mapping="pathname" data-strict="1" data-reactions-enabled="1" data-emit-metadata="0"
        data-input-position="top" data-theme="light" data-lang="en" data-loading="lazy" crossorigin="anonymous">
        </script>
    </section>
  </article>
  {{- partial "sidebar" . }}
</div>
{{- end }}